html, body {
  height: 4000px;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: 'Lato', sans-serif !important;
}

// Styles Navbar

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

#banner {
  width: 100%;
  height: 550px;
  overflow: hidden;
  background: url("../../01 - Crea/00 - Sources/01 - Images/typewriter.jpg") no-repeat;
  background-size:cover;

  h1 {
    position: relative;
    top: 15px;
    text-align: center;
  }

}

#nav_bar {
  background-color: rgba(145, 143, 144, 0.1);
  color:black;

      ul {
        font-size: 25px;

      a {
        color: black;
        }
    }
}

// Styles Section 1

.bluebg {
  padding-bottom: 100px;
  color:white;
  background-color: #3399cc;

  h1 {
    padding-top: 70px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  h3 {
    font-weight: 300;
    margin-bottom: 45px;
  }

  .etransition {
    background-color: #333333;
    margin-top:15px;
    padding: 5px 30px 5px;

    .codestyle {
      font-weight: 300 !important;
      font-size: 23px;
      opacity: 0.8;
    }
  }
}

// Styles Section 2

.whitebg {
  padding-bottom: 80px;
  color:black;
  background-color: white;

    h1 {
      padding-top: 40px;
      font-weight: 700;
      letter-spacing: 2px;
        }

        h3 {
          font-weight: 300;
          margin-bottom: 45px;
            }

            .etransition {
              background-color: #333333;
              padding: 5px 30px 5px;
              color: white;

                .codestyle {
                  font-weight: 300 !important;
                  font-size: 23px;
                  opacity: 0.8;
                }
              }
            }

// Styles Section 3

