html, body {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: 'Lato', sans-serif !important; }

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; }

#banner {
  width: 100%;
  height: 550px;
  background: url("../../01 - Crea/00 - Sources/01 - Images/typewriter_blur.jpg") no-repeat;
  background-size: cover; }
  #banner h1 {
    position: relative;
    top: 15px;
    text-align: center; }

#nav_bar {
  background-color: rgba(145, 143, 144, 0.1);
  color: black; }
  #nav_bar .svgnavbar {
    top: 10px; }
  #nav_bar .navbar-toggle {
    background-color: #3399cc !important;
    border-color: #3399cc !important; }
  #nav_bar ul {
    font-size: 25px; }
    #nav_bar ul li:hover {
      border-bottom: 2px solid #3399cc; }
    #nav_bar ul a {
      color: black; }

.centerblock {
  text-align: center; }
  .centerblock h1 {
    font-weight: 700;
    font-size: 70px; }
  .centerblock h2 {
    font-size: 50px; }
  .centerblock .sendbtn2 {
    width: 200px;
    height: 65px;
    background-color: transparent !important;
    border: 2px solid #3399cc;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    color: black; }
    .centerblock .sendbtn2:hover {
      background-color: #ff0099 !important;
      transition: all 0.7s ease; }

.bluebg {
  padding-bottom: 100px;
  color: white;
  background-color: #3399cc; }
  .bluebg h1 {
    padding-top: 70px;
    font-weight: 700;
    letter-spacing: 2px; }
  .bluebg h3 {
    font-weight: 300;
    margin-bottom: 45px; }
  .bluebg .etransition {
    background-color: #333333;
    margin-top: 15px;
    padding: 5px 30px 5px; }
    .bluebg .etransition .codestyle {
      font-weight: 300 !important;
      font-size: 15px;
      opacity: 0.8; }

.whitebg {
  padding-bottom: 80px;
  color: black;
  background-color: white; }
  .whitebg h1 {
    padding-top: 40px;
    font-weight: 700;
    letter-spacing: 2px; }
  .whitebg h3 {
    font-weight: 300; }
  .whitebg .etransition {
    margin-top: 25px;
    background-color: #333333;
    padding: 5px 30px 5px;
    color: white; }
    .whitebg .etransition .codestyle {
      font-weight: 300 !important;
      font-size: 23px;
      opacity: 0.8; }

.bgparachute {
  padding: 150px 0;
  background: url("../../01 - Crea/00 - Sources/01 - Images/parachute_blur.jpg") no-repeat center;
  background-size: cover; }

.whitebg .underline {
  text-decoration: underline; }
.whitebg ul {
  font-size: 22px; }
  .whitebg ul li {
    color: deeppink; }
    .whitebg ul li span {
      color: black; }

.svgpos {
  top: 150px; }

.bgmountain {
  padding-top: 50px;
  background: url("../../01 - Crea/00 - Sources/01 - Images/contact_blur.jpg") no-repeat 50% 7%; }
  .bgmountain .input-large {
    padding: 30px !important;
    font-size: 28px !important; }

.form-group {
  margin: 20px !important;
  height: 50px; }
  .form-group .form-label {
    position: absolute;
    font-size: 25px !important;
    opacity: 0.5; }
  .form-group .form-control {
    position: absolute;
    top: -7px;
    right: 5px; }
  .form-group .form-control:focus + .form-label {
    color: deeppink;
    opacity: 0.8;
    transform: translate(-5px, -37px) scale(0.8, 0.8);
    transition: all 0.5s; }

.divseparator {
  height: 100px; }

.sendbtn {
  width: 200px;
  height: 65px;
  background-color: transparent !important;
  border: 2px solid #ff0099;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px; }
  .sendbtn:hover {
    background-color: #1ba1e2 !important;
    color: white;
    transition: all 0.7s ease; }

.footerstyle {
  background-color: #333333;
  color: white;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
